body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInBorder {
    from {
        width: 0;
        left: 0;
    }
    to {
        width: 100%;
        left: 0;
    }
}

.transparent {
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    display: inline-block;
    font-size: 40px;
    animation: fadein 3s ease-in-out;
    overflow: hidden;
    padding: 20px;
}

.transparent::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    animation: fadeInBorder 4s ease-in-out forwards;
}