{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{% static 'css/confirmacion.css' %}">
</head>
    <main>
        <body>
            <div class="container">
                <h1 class="transparent">
                    Welcome {{usuario}}
                </h1>
            </div>
        </body>
    </main>
    <div id="particles-js"></div>
    <script src="{% static 'js/particles.min.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/confirmacion.js' %}"></script>
</html>