{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
</head>
    <body>
        <div class="container">
            <h1 class="transparent">
                No se ha detectado ningún usuario registrado, intentelo de nuevo
            </h1>
        </div>
    </body>
   <script src="{% static 'js/registro.js' %}"></script>
</html>